[mysqld]
character-set-server = cp1251
collation-server = cp1251_general_ci
default-storage-engine = MyISAM
sql-mode = ""

[client]
default-character-set = cp1251

[mysql]
default-character-set = cp1251